PdfCombinerDebug/Service References/MyPdfCombineService/PdfCombineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PdfCombineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:47523/PdfCombineService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:47523/PdfCombineService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:47523/PdfCombineService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PdfCombinerWcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPdfCombineService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPdfCombineService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPdfCombineService_GetDataLongTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataLongTime" />
  </wsdl:message>
  <wsdl:message name="IPdfCombineService_GetDataLongTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataLongTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IPdfCombineService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IPdfCombineService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IPdfCombineService">
    <wsdl:operation name="GetData">
      <wsdl:input wsam:Action="http://tempuri.org/IPdfCombineService/GetData" message="tns:IPdfCombineService_GetData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IPdfCombineService/GetDataResponse" message="tns:IPdfCombineService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataLongTime">
      <wsdl:input wsam:Action="http://tempuri.org/IPdfCombineService/GetDataLongTime" message="tns:IPdfCombineService_GetDataLongTime_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IPdfCombineService/GetDataLongTimeResponse" message="tns:IPdfCombineService_GetDataLongTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsam:Action="http://tempuri.org/IPdfCombineService/GetDataUsingDataContract" message="tns:IPdfCombineService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IPdfCombineService/GetDataUsingDataContractResponse" message="tns:IPdfCombineService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPdfCombineService" type="tns:IPdfCombineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPdfCombineService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataLongTime">
      <soap:operation soapAction="http://tempuri.org/IPdfCombineService/GetDataLongTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IPdfCombineService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PdfCombineService">
    <wsdl:port name="BasicHttpBinding_IPdfCombineService" binding="tns:BasicHttpBinding_IPdfCombineService">
      <soap:address location="http://localhost:47523/PdfCombineService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>